<nav class="navbar navbar-expand" style="background-color: whitesmoke">
  <div class="container">
    <a class="navbar-brand" href="#">Gym Training Plan</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", home_about_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>