<div id="<%= dom_id exercise %>">
  <p>
    <strong>Name:</strong>
    <%= exercise.name %>
  </p>

  <p>
    <strong>Number of series:</strong>
    <%= exercise.number_of_series %>
  </p>

  <p>
    <strong>Number of reps:</strong>
    <%= exercise.number_of_reps %>
  </p>

</div>
