<div class="card text-center">
  <div class="card-header">
    <h4><%= exercise.name %></h4>
  </div>

  <div class="card-body">
  </div>

  <p class="card-text"> Series: <%= exercise.number_of_series %></p>
  <p class="card-text"> Reps: <%= exercise.number_of_reps %></p>

  <div class="card-footer text-muted">
    <%= link_to "Show this exercise", gym_plan_exercise_path(exercise.gym_plan_id, id: exercise) %>
  </div>

</div>
