<h1>Editing exercise</h1>

<%= render "form", exercise: @exercise %>

  <%= link_to "Show this exercise", edit_gym_plan_exercise_path(@exercise) %> |
  <%= link_to "Back to exercises", gym_plan_exercises_path %>
</div>
