<div class="d-flex justify-content-center">
  <h1><%= @gym_plan.name %></h1>
</div>

<% @exercises.each do |exercise| %>
  <p>
  <div class="d-flex justify-content-center">
    <%= render exercise %>
  </div>
  </p>
<% end %>

<div class="d-flex justify-content-center">
    <%= link_to "New exercise", new_gym_plan_exercise_path %>
</div>