<p>
<div class="d-flex justify-content-center">
  <%= render "form", exercise: @exercise %>
</div>
</p>

<div class="d-flex justify-content-center">
  <%= link_to "Back to exercises", gym_plan_exercises_path %>
</div>
