<div class="d-flex justify-content-center">
  <%= render @exercise %>
</div>

<p>
<div class="d-flex justify-content-center">
  <%= link_to "Edit this exercise", edit_gym_plan_exercise_path(@exercise.gym_plan_id, id: @exercise) %> |
  <%= link_to "Back to exercises", gym_plan_exercises_path %>
</div>
</p>
<div class="d-flex justify-content-center">
  <%= button_to "Destroy this exercise", gym_plan_exercise_path, method: :delete, class: "btn btn-primary" %>
</div>
