<div class="d-flex justify-content-center">
    <h1>Gym plans</h1>
</div>

<% @gym_plans.each do |gym_plan| %>
  <p>
  <div class="d-flex justify-content-center">
    <%= render gym_plan %>
  </div>
  </p>
<% end %>


<div class="d-flex justify-content-center">
  <%= link_to "New gym plan", new_gym_plan_path, class: "btn btn-primary" %>
</div>
