<p>
<div class="d-flex justify-content-center">
  <%= render "form", gym_plan: @gym_plan %>
</div>
</p>

<div class="d-flex justify-content-center">
  <%= link_to "Back to gym plans", gym_plans_path %>
</div>
